.marker { 
	background-color: #F5B800;
	text-align:center;
}

.markerPreview {
	background-color: #F53D00;
}

.markerSelect {
	background-color: #F53D00;
}

.verticesHeader {
	background-color: #707070;
	color: white;
	text-align:center;
	cursor : move;
}

.dashboard {
	background-color: #F5B800;
}

.dashboardItem {
	float: left;
}
